@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap');

:root {
  --color-very-dark: #000;
  --color-dark: #1c1c1c;
  --color-light: #eeedf2;
  --color-1: #5d31ff;
  --color-2: #def241;
  --color-3: #f88cd5;
  --font-1: 'Manrope';
  --font-2: 'Archivo Black';
}

html {
  width: 100%;
  height: 100%;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, var(--font-1), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-dark);
  color: var(--color-light);
}

code {
  font-family: source-code-pro, Consolas, 'Courier New', monospace;
}

div {
  box-sizing: border-box;
}

#root {
  width: 100%;
  height: 100%;
  position: relative;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
  flex-wrap: wrap;
}
