@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

:root {
  --color-dark: #161616;
  --color-accent: #557adf;
  --color-light: #fff;
}

body {
  margin: 0;
  font-family: -apple-system, 'Manrope', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Consolas, 'Courier New', monospace;
}

.main {
  display: flex;
  justify-content: space-between;
  align-content: center;
  flex-wrap: wrap;
}
