.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  margin-right: 20px;
}

.home button {
  border: none;
  cursor: pointer;
  background: var(--color-dark);
  color: var(--color-light);
}