/*
    Style pour les pages de catalogues
*/

.buttons-ps {
    width: 100%;
    margin: 50px 20px;
    text-align: left;
}

.buttons-ps button {
    background: none;
    border: none;
    color: grey;
    font-family: var(--font-1);
    font-size: 1.5em;
    cursor: pointer;
}

.buttons-ps button:hover {
    color: var(--color-light);
}

.buttons-ps .is-active {
    color: var(--color-light);
}

.media-display {
    width: 100%;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.search {
    width: 100%;
    margin: 20px 0;
}

.search input {
    margin: 0 20px;
}

.search-result {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
}

.movie-link {
    width: 13%;
    float: left;
    position: relative;
}

.media-img {
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 140%;
    margin-bottom: 0;
}

.movie-link img {
    width: 100%;
    min-height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.media-title {
    font-weight: 600;
    margin-top: 10px;
}