.profile-page {
    margin: 60px auto;
    text-align: center;
}

.profile-page h1 {
    font-size: 2em;
}

.profile-page h2 {
    width: auto;
    display: inline-block;
    background: var(--color-3);
    color: var(--color-very-dark);
    padding: 0 10px;
    font-size: 1.3em;
}

.profile-page h4 {
    margin: 0;
    border-bottom: 2px solid var(--color-1);
}

.profile-page .crud-list {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: flex-start;
}

.profile-page .icon {
    color: var(--color-2);
    font-size: 1.3em;
}
